*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #faf9f8;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1 )
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;

}

nav a{
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: 500;
}

.hero{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #f4e1d2, #f9f5f2)
}

.hero h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
}


.hero button {
    background: #333;
    color:#fff;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover{
    background: #555;
}

.products {
    padding: 60px 8%;
    text-align: center;

}

#searchBox{
    padding: 10px;
    width: 50%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius : 25px;
    margin-bottom: 30px;

}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}


.product {
    background: #fff;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product h3{
    margin-bottom: 5px;
    font-size: 1.1rem ;

}

.product button{
    margin-top: 10px;
    padding:8px 20px;
    border: none;
    background : #333;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3;

}

.product button:hover{
    background: #555;
}

.modal{
    display: none;
    position: fixed;
    inset:0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal content{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    max-width:400px;
    text-align: center;
    position: relative;

}

.close{
    position: absolute;
    top: 10px;
    right: 15;
    font-size: 24px ;
    cursor: pointer;
}

.footer{
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top:  50px;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}